.trackodd{
	background-color:#FFFFFF;
	text-align:center;
}
.trackeven{
	text-align:center;
}
.bgcl{
	background-color:#F5F5F5;
}
.names1{
	font-family: fantasy;
	color: black;
}
.names{
		font-style: italic;
}
