.footer{
		text-align:center;
}
.header{
		text-align:center;
		font-family: 'Arima Madurai', cursive;
}
table.divide{
		border:1px solid black;
		width:100%;
}
table.divide2{
		width:100%;
		border-top:1px solid black;
		padding-bottom:20px;
}
table.otherpages{
		text-align:left;
		width:20%;
		padding-bottom: 5px;
		padding-top: 5px;
}
.backcolor{
		background-color: #E9967A;
}
.homecolor{
		background-color: rgb(220,2,28);
}
a:link{
		color: Black;
		text-decoration: underline;
}
a:visited{
		color: Red;
}
a:hover{
		font-weight: bold;
}
a:active{
		text-decoration: none;
}
table.drink{
	width: 100%;
	font-weight: bold;
	background-color: #E9967A;
	table-layout: fixed;
}
caption{
	background-color: #E9967A;
	text-decoration: underline;
	padding-bottom: 5px;
}
td.left{
		text-align: left;
		padding-left: 15px;
}
td.right{
		text-align: right;
		padding-right: 5px;
}




	
