.bgcl{
	background-color:#F5F5F5;
}
.names1{
	font-family: fantasy;
	color: black;
}
.names{
		font-style: italic;
}
tbody tr:nth-child(odd){
	background-color:#FFFFFF
}
td{
	font-style: italic;
	text-align: center;
}
thead th{
		text-align: center;
}