.footer{
		text-align:center;
}
.header{
		text-align:center;
		font-family: 'Arima Madurai', cursive;
}
table.divide{
		border:1px solid black;
		width:100%;
}
table.divide2{
		width:100%;
		border-top:1px solid black;
		padding-bottom:20px;
}
table.otherpages{
		text-align:left;
		width:20%;
		padding-bottom: 5px;
		padding-top: 5px;
}
.backcolor{
		background-color: #E9967A;
		text-align:center; 
}
.homecolor{
		background-color: rgb(220,2,28);
}
a:link{
		color: Black;
		text-decoration: underline;
		font-size: 20px
}
a:visited{
		color: Red;
}
a:hover{
		font-weight: bold;
}
a:active{
		text-decoration: none;
}
table.drink{
	width: 100%;
	font-weight: bold;
	background-color: #E9967A;
	table-layout: fixed;
}
.drink{
	background-color: #E9967A;
	font-size: 15px;
	padding-bottom: 5px;
}
td.left{
		text-align: left;
		padding: 15px;
}
.padding{
		padding:($spacer-x*1.5) !important;
		margin-top: 1 !important;
		font-size: 20px;
}
.carousel-content {
    color:black;
    display:flex;
    align-items:center;
	text-align:center;
	height: 150px;
}

#text-carousel {
  width: 100%;
  height: auto;
  padding: 50px;
}



	
