.footer{
		text-align:center;
}
.header{
		text-align:center;
		font-family: 'Arima Madurai', cursive;
}
table.divide{
		border:1px solid black;
		width:100%;
}
table.divide2{
		width:100%;
		border-top:1px solid black;
		padding-bottom:20px;
}
table.otherpages{
		text-align:left;
		width:20%;
		padding-bottom: 5px;
		padding-top: 5px;
}
.backcolor{
		background-color: #E9967A;
}
.homecolor{
		background-color: rgb(220,2,28);
}

